/* .return-button {
  margin: 10px 0 10px 10px;
}
.slds-modal__footer .slds-button_neutral {
  float: left;
}
.sub-message {
  position: absolute;
  top: 10px;
  left: 130px;
  font-weight: bold;
  font-size: 16px;
} */

.applicationInfo-item5 {
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* .lending-item,
.lending-item1,
.lending-item4 {
  font-size: 15px;
} */
